<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}ITBlog - welcome{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/highlight/styles/default.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('css/clean-blog.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}
                <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                    <div class="container">
                        <a class="navbar-brand" href="{{ path('homepage') }}">ITBlog</a>

                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            Menu
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                        </div>
                    </div>
                </nav>

        {% endblock %}

        {% block body %}{% endblock %}
            {% block footer %}
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item">
                                        <a href="https://vk.com/id156471920" target="_blank">
                                          <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://t.me/anarbekB" target="_blank">
                                          <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" target="_blank">
                                          <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                          </span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright text-muted">Anarbek © ITBlog 2018</p>
                            </div>
                        </div>
                    </div>
                </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('vendor/highlight/highlight.pack.js') }}"></script>
            <script src="{{ asset('js/clean-blog.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
