{# default Sliding pagination control implementation #}


{% if pageCount > 1 %}
    <div class="d-flex justify-content-between">

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"
               class="btn btn-primary float-left">← Сюда</a>
        {% else %}
            <a href="javascript:void(0)"
               class="btn btn-primary float-left is-disabled">← Сюда</a>
        {% endif %}

        <div class="number d-none d-sm-block">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class="page">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </span>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% endfor %}
        </div>

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"
               class="btn btn-primary float-right">Туда →</a>
        {% else %}
            <a href="javascript:void(0)"
               class="btn btn-primary float-right is-disabled">Туда →</a>
        {% endif %}

    </div>
{% endif %}
