{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% include 'blog/head.image.html.twig' with {'image': asset('image/home-bg.jpg'), 'headText': 'Simple ITBlog', 'text': 'with symfony 3.4' } %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Регистрация нового пользователя</h1>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(form.username) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(form.plainPassword.first, { 'attr': {'placeholder': 'Пароль'}} ) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form_row(form.plainPassword.second, { 'attr': {'placeholder': 'Пароль еще раз'}} ) }}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button class="bnt btn-primary" type="submit">Регистрация</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
