{% extends 'base.html.twig' %}

{% block body %}
    {% include 'blog/head.image.html.twig' with {'image': asset('image/about-bg.jpg'), 'headText': 'Обо мне', 'text': 'немного автобиографии' } %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Занимаюсь веб разработкой. Пишу на symfony. К нему пришел с битрикса.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

