{% extends 'base.html.twig' %}

{% block body %}
    {% include 'blog/head.image.html.twig' with {'image': asset('image/contact-bg.jpg'), 'headText': 'Связь со мной', 'text': 'для тех, кто не пользуется соц сетями' } %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Хотите связаться? Заполните форму ниже, чтобы отправить мне сообщение на электронную почту, и я
                    свяжусь с вами как можно скорее!</p>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id' : 'contactForm'}}) }}
                    {{ form_errors(form) }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

