{% block headImage %}
    <header class="masthead" style="background-image: url({{ image }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% set classHeading = post is defined ? 'post-heading' : 'site-heading' %}
                    <div class="{{ classHeading }}">
                        <h1>{{ headText }}</h1>
                        <span class="subheading">{{ text }}</span>
                        {% if post is defined %}
                            <span class="meta">Опубликованно:
                                <a href="#">{{ post.userCreated }}</a>
                                {{ post.publishedAt | date('d m Y') }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}