{% extends 'base.html.twig' %}

{% block body %}
    {% include 'blog/head.image.html.twig' with {'image': asset('image/home-bg.jpg'), 'headText': 'Simple ITBlog', 'text': 'with symfony 3.4' } %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if news %}
                    {% for newsItem in news %}
                        <div class="post-preview">
                            <a href="{{ path('news_show', {'slug': newsItem.slug}) }}">
                                <h2 class="post-title">
                                    {{ newsItem.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ newsItem.subTitle }}
                                </h3>
                            </a>
                            <p class="post-meta">
                                {% if newsItem.userCreated is not null %}
                                    Posted by
                                    <a>{{   newsItem.userCreated.username }}</a>
                                {% endif %}
                                {{ newsItem.publishedAt | date('d m Y') }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- Pager -->
                    {{ knp_pagination_render(news) }}
                {% else %}
                    <p class="center-text">Пока тут ничего нет =(</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

