{% extends 'base.html.twig' %}

{% block body %}
    {% if post.image is not null %}
        {% set pathImage %}{% path post.image, 'reference' %}{% endset %}
    {% else %}
        {% set pathImage = asset('image/post-bg.jpg') %}
    {% endif %}
    {% include 'blog/head.image.html.twig' with {'image': pathImage, 'headText': post.title, 'text': post.subtitle, 'post': post } %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                   {{ post.text | raw }}
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}

