.btn.is-disabled {
    opacity: .4;
    pointer-events: none;
}

.page {
    display: inline-block;
    padding: 0 5px;
}

.page a {
    text-decoration: underline;
}

.number .current {
    font-weight: 700;
    padding: 0 10px;
}

.post__text-html pre {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

.post__text-html pre .hljs, .post__text-html pre .nohighlight {
    display: block;
}

.post__text-html pre code {
    display: block;
    padding: 17px 20px 20px;
    border: 1px solid #e5e8ec;
    background: #fbfdff;
    white-space: pre-wrap;
}

.post__text-html code {
    white-space: normal;
    font-size: 14px;
    font-family: Menlo,Monaco,'Courier New',monospace;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    color: #383a42;
    background: #fafafa;
}

code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #50a14f;
}