{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    {% include 'blog/head.image.html.twig' with {'image': asset('image/home-bg.jpg'), 'headText': 'Simple ITBlog', 'text': 'with symfony 3.4' } %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Авторизация</h1>
                {% block fos_user_content %}
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% endif %}

                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}"
                                       required="required" autocomplete="username" placeholder="Имя пользователя"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" required="required"
                                       autocomplete="current-password" placeholder="Пароль"
                                       class="form-control"/>
                            </div>
                        </div>

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                        <div class="form-group">
                            <button type="submit" id="_submit" name="_submit"
                                    class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>
                        </div>

                    </form>
                {% endblock fos_user_content %}

            </div>
        </div>
    </div>
{% endblock %}